#root {
  padding: 20px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.list img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}
.list button {
  display: block;
  margin: 10px;
  background-color: rgb(109, 1, 211);
}

table, tr, td, th{
  border : 1px solid gray;
  text-align: center;
}
table{
  border-collapse: collapse;
  width:900px;
  color: white;
}